In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('HR_comma_sep.csv')
data.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
data['salary'].unique()

array(['low', 'medium', 'high'], dtype=object)

In [4]:
data['salary'].replace(['low','medium','high'],[1,2,3],inplace=True)
data.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,1
1,0.80,0.86,5,262,6,0,1,0,sales,2
2,0.11,0.88,7,272,4,0,1,0,sales,2
3,0.72,0.87,5,223,5,0,1,0,sales,1
4,0.37,0.52,2,159,3,0,1,0,sales,1

In [5]:
X=data[['salary','satisfaction_level','last_evaluation','number_project','average_montly_hours','time_spend_company','Work_accident','promotion_last_5years']]
y=data['left']

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=30)

In [8]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(hidden_layer_sizes=(6,5),random_state=30,verbose=True,learning_rate_init=0.01)
clf.fit(X_train,y_train)

Iteration 1, loss = 0.60666549
Iteration 2, loss = 0.53844040
Iteration 3, loss = 0.53838279
Iteration 4, loss = 0.52444747
Iteration 5, loss = 0.50866040
Iteration 6, loss = 0.49660792
Iteration 7, loss = 0.49259097
Iteration 8, loss = 0.48224402
Iteration 9, loss = 0.47285687
Iteration 10, loss = 0.46771731
Iteration 11, loss = 0.46128673
Iteration 12, loss = 0.46795289
Iteration 13, loss = 0.46287767
Iteration 14, loss = 0.45522818
Iteration 15, loss = 0.45147320
Iteration 16, loss = 0.44551125
Iteration 17, loss = 0.44527381
Iteration 18, loss = 0.44304660
Iteration 19, loss = 0.44217643
Iteration 20, loss = 0.44616428
Iteration 21, loss = 0.44185035
Iteration 22, loss = 0.43967935
Iteration 23, loss = 0.43659368
Iteration 24, loss = 0.43237737
Iteration 25, loss = 0.43540354
Iteration 26, loss = 0.44115756
Iteration 27, loss = 0.42611329
Iteration 28, loss = 0.40656008
Iteration 29, loss = 0.38212846
Iteration 30, loss = 0.37892732
Iteration 31, loss = 0.36423027
Iteration 32, loss = 0.35815897
Iteration 33, loss = 0.34072962
Iteration 34, loss = 0.34505058
Iteration 35, loss = 0.31556585
Iteration 36, loss = 0.30623782
Iteration 37, loss = 0.30964775
Iteration 38, loss = 0.30559346
Iteration 39, loss = 0.29974702
Iteration 40, loss = 0.30654497
Iteration 41, loss = 0.28906278
Iteration 42, loss = 0.29181473
Iteration 43, loss = 0.28917854
Iteration 44, loss = 0.28058781
Iteration 45, loss = 0.28676956
Iteration 46, loss = 0.27716622
Iteration 47, loss = 0.27958815
Iteration 48, loss = 0.28401661
Iteration 49, loss = 0.27440474
Iteration 50, loss = 0.27975380
Iteration 51, loss = 0.27353851
Iteration 52, loss = 0.28547166
Iteration 53, loss = 0.27573259
Iteration 54, loss = 0.27630439
Iteration 55, loss = 0.27066297
Iteration 56, loss = 0.27191107
Iteration 57, loss = 0.27607420
Iteration 58, loss = 0.27101940
Iteration 59, loss = 0.27015971
Iteration 60, loss = 0.27700880
Iteration 61, loss = 0.26911148
Iteration 62, loss = 0.26663539
Iteration 63, loss = 0.26890131
Iteration 64, loss = 0.26932589
Iteration 65, loss = 0.26118059
Iteration 66, loss = 0.26379882
Iteration 67, loss = 0.26925113
Iteration 68, loss = 0.26587064
Iteration 69, loss = 0.27571309
Iteration 70, loss = 0.26272841
Iteration 71, loss = 0.26333025
Iteration 72, loss = 0.26218998
Iteration 73, loss = 0.26787216
Iteration 74, loss = 0.26129580
Iteration 75, loss = 0.26401041
Iteration 76, loss = 0.26691310
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(6, 5), learning_rate_init=0.01,
              random_state=30, verbose=True)

In [9]:
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8964444444444445